@font-face {
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf")
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("fonts/NotoSans-Bold.ttf")
}

@font-face {
    font-family: "NotoSans-Italic";
    src: url("fonts/NotoSans-Italic.ttf")
}

@keyframes phone-in {
    from {opacity: 0%; right:0%;}
    to {opacity: 100%; z-index: 0;}
}

@keyframes about-text {
    from {opacity: 0%; left:10%;}
    to {opacity: 100%;}
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }

body {
    font-family: "NotoSans-Regular";
    background: linear-gradient(2deg, rgb(33, 254, 164) 0%, rgb(10, 130, 255) 45%, #ffffff 80%);
}

head {
   z-index: 1000;
}

#content {
    margin-top: 85px;
}

.slide {
    scroll-snap-align: start;
    min-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    
}

.header-box {
    background-color: rgba(255, 255, 255, .5);
    z-index: 100;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    height: 65px;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
}

#content {
    grid-area: content;
}

.top-content {
    animation-name: about-text;
    animation-duration: 2s;
}

.about {
    margin-top: 30vh;
    margin-left: 20vw;
    font-size: 36px;
    font-family: "NotoSans-Bold";
    z-index: 0;
}

.three-line {
    margin-top: 35vh;
    margin-left: 20vw;
    font-size: 36px;
    font-family: "NotoSans-Bold";
    z-index: 0;
}

.logo {
    margin-top: 20px;
    margin-left: 15%;
}

.phone {
    position:fixed;
    top: max(80px, 8.5%);
    bottom: max(15px, auto);
    left: auto;
    right: 7vw;
    height: 85%;
}

.phone-anim {
    animation-name: phone-in;
    animation-duration: 1.5s;
}

.phone-img {
    z-index: 999;
}

.screenshot1 {
    visibility: visible;
    z-index: 0;
}

.screenshot2 {
    position:fixed;
    display: none;
    z-index: 5;
}

.screenshot3 {
    position:fixed;
    display: none;
    z-index: 6;
}

.desc-content {
    margin-bottom: 1000px;
}